/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

.main{
	background-color:#f5f5f5;
	padding:40px;
	height:70vh;
}

.testmonial{
	background-color:white;
	border: 1px solid black;
	padding:20px;
	margin-top:25px;
}

.author{
	font-style:italic;
	text-align:right;
}